<section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                   <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Consultar Resultados</h3>
                    </div>
                    <div class="card-body">
                      <form id="resultados" action="javascript:preConsultarResultados('resultados')" method="post"> <div class="form-group">
                          <label class="form-control-label">Fecha</label>
                          <input name="fecha" id="fecha" type="text" placeholder="Ingrese el año que desea consultar" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Buscar" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
