<section class="tables">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <div class="col-lg-10">
            <h3 class="h4">Listas de votación</h3>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-hover" id="myTable" name="myTable">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Lista</th>
                  <th>Número</th>
                  <th>Nombre</th>
                  <th>CC</th>
                </tr>
              </thead>
                <tbody id="listaslist">
              </tbody>
              <tfoot>
                <tr>
                    <th>Fecha</th>
                    <th>Lista</th>
                    <th>Número</th>
                    <th>Nombre</th>
                    <th>CC</th>
                </tr>
            </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
