
            <section>
            <div class="container-fluid">
            <div class="row ">
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registrar accionista</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarRegistroAccionista()">
                            <img src="front/public/img/accionista.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Editar accionista</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarBuscarDatos()">
                            <img src="front/public/img/editar.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registrar Poderes</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarSelectAccionista()">
                            <img src="front/public/img/usuarios.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registrar Asistentes</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarVotanteRegistro()">
                            <img src="front/public/img/votantes.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row usuarioAdmin">
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Eliminar Consecutivo</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargareliminarconsecutivo()">
                            <img src="front/public/img/no.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div> 
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registrar listas de votación</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarRegistroLista()">
                            <img src="front/public/img/list.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Registrar otra votación</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarotra()">
                            <img src="front/public/img/otravotacion.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>       
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Listar accionistas</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:listar()">
                            <img src="front/public/img/folder.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>        
            </div>
            <div class="row usuarioAdmin">
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Listar accionistas</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:listarAccionistas()">
                            <img src="front/public/img/pdf.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>     
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Consultar Asistencia</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarConsultarAsistencia()">
                            <img src="front/public/img/asistencia.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Consultar Poderes</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarConsultarPoderes()">
                            <img src="front/public/img/listapoderes.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
               <div class="col-lg-3 hovereffect">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Consultar Votación</h4>
                      <div class="row ">
                        <div class="center">
                          <a href="javascript:cargarConsultaVotacion()">
                            <img src="front/public/img/elecciones.png">
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
            </section>