<section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <div class="col-lg-10">
                      <h3 class="h4">Lista de Accionistas</h3>
                      </div>
                    </div>                    
                    <div class="card">
                      <div class="card-body">
                        <table class="table table-bordered table-hover" id="myTable" name="myTable">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>CC </th>
                              <th>Acciones</th>
                            </tr>
                          </thead>
                          <tbody id="AccionistaList">
                           </tbody>
                         </table>
                      </div>
                </div>
                </div>
              </div>
            </div>
          </section>
