<section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                   <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Buscar Votantes</h3>
                    </div>
                    <div class="card-body">
                      <form id="datosVotante" action="javascript:preBuscarDatosVotante('datosVotante')" method="post"> <div class="form-group">
                          <label class="form-control-label">Cédula</label>
                          <input name="cedula" id="cedula" type="text" placeholder="Ingrese el número de cédula del votante" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Buscar" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                </div>
                    <div class="card">
                      <div class="card-body">
                        <table class="table table-bordered table-hover" id="myTable" name="myTable">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>CC </th>
                              <th>Acciones</th>
                            </tr>
                          </thead>
                          <tbody id="AccionistaList">
                           </tbody>
                         </table>
                      </div>
                </div>
                </div>
              </div>
            </div>
          </section>
