<section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <div class="col-lg-10">
                      <h3 class="h4">Representante</h3>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="col-lg-10" id="datos" name = "datos">
                      </div>
                    </div>
                  </div>
                  <div class="card">
                   <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Seleccionar Accionista</h3>
                    </div>
                    <div class="card-body">
                      <form id="selectAccionista2" action="javascript:preSelectAccionista2('selectAccionista2')" method="post"> <div class="form-group">
                          <label class="form-control-label">Cédula</label>
                          <input name="cedula" id="cedula" type="text" placeholder="Ingrese el número de cédula del accionista" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <input type="submit" value="Buscar" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
