 <section>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-3 hovereffect">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Si</h4>
              <div class="row ">
                <div class="center">
                  <a href="javascript:votar(1)">
                    <img src="front/public/img/si.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3 hovereffect">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">No</h4>
              <div class="row ">
                <div class="center">
                  <a href="javascript:votar(2)">
                    <img src="front/public/img/no.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-3 hovereffect">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Voto en Blanco</h4>
              <div class="row ">
                <div class="center">
                  <a href="javascript:votar(0)">
                    <img src="front/public/img/blanco.png">
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>